html {
  box-sizing: border-box;
  background: url('https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') center no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
  box-sizing: inherit; 
  font-family: 'Montserrat', sans-serif;
}

html::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.192);
  z-index: -1;
}

button {
  cursor: pointer;
  background-color: #FFC700;
}

svg {
  padding: 20px;
  margin-bottom: 50px;
}

.wrapper {
  padding: 20px;
  max-width: 360px;
  background: rgba(255,255,255,0.95);
  box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
  z-index: 1;
  position: relative;
}

h2 {
  text-align: center;
  margin: 0;
  font-weight: 200;
}

.todos {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

.todos:empty:after {
  content: '✏️ Write some stuff...';
}

.todos li {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 10px 0;
  font-weight: 100;
  display: flex;
  transition: 0.3s;
}

.todos label {
  flex: 1;
  cursor: pointer;
}

.todos input {
  display: none;
}

.todos label {
  display: flex;
  align-items: center;
}

.todos input + label:before {
  content: '⬜️';
  margin-right: 10px;
}

.todos input:checked + label:before {
  content: '👌';
}

.add-items {
  margin-top: 20px;
}

.controls{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.controls button{
  margin-top: 20px;
}

input, button {
  padding: 10px;
  outline: 0;
  border: 1px solid rgba(0,0,0,0.1);
}

.delete-one, .edit{
  padding: 1px;
  background: rgba(216, 73, 83, 0.082);
  margin-left: 5px;
}

.edit{
  background: rgba(102, 216, 73, 0.082);
}

.edit-items{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.466);
}

.edit-items-none{
  display: none;
}


/* .edit-text{
  position: absolute;

} */
